.container {
    display: flex;
    flex-direction: column;
    align-items: center;}

form {
    overflow: auto;
    width: 90%;
    max-width: 1500px;
    height: auto;
    background-color: rgba(150, 150, 150, 0.2);
    display: flex;
    flex-direction: column;
    border-radius: 1vw;
}

.passed {
    display: none;
}

.failed {
    display: block;
    font-size: small;
    font-weight: bold;
    color: #b51010;
}

input {
    max-width: 250px;
}

input, .message{
    border: none;
    padding: 5px 0 5px 0;
    background: none;
    border-bottom: 3px solid #ddbb0f;
    font-family: "Arial", serif;
    font-size: large;
    color: #393b44;
}

.message {
    width: 100%;
    resize: none;
    box-sizing: border-box;
    overflow: auto;
    height: auto;
}

input:focus, .message:focus{
    outline: none;
}

.info {
    padding: 3%;
    flex: 1;
    font-size: larger;
    text-align: center;
}

.info img {
    margin-right: 10px;
}

.input-data {
    padding: 3%;
    flex: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.input-data button {
    margin-right: 10px;
}

.input-data-row{
    width: 100%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-data-column {
    margin: 10px;
    width: 100%;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-data-column:focus-within {
    color: #ddbb0f;
}

@media all and (min-width: 1300px) {
    form {
        flex-direction: row;
    }
    .info {
        text-align: left;
    }
    .input-data-row {
        flex-direction: row;
        justify-content: flex-end;
    }
    .input-data-column {
        margin: 0;
        text-align: left;
        align-items: flex-start;
    }
}